@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,400&display=swap");


@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
@layer utilities {
  body::-webkit-scrollbar {
    width: 0.4em;
    background-color: #0b192f;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #4c5474;
    scrollbar-gutter: stable;
    border-radius: 40px;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below 20px linear-gradient(transparent, rgba(0, 0, 0, .2));
}

.waviy span {
  /* font-family: 'Alfa Slab One', cursive; */
  position: relative;
  display: inline-block;

  /* color: #f8f4f4; */
  /* text-i */
  text-shadow: 0 0 3px;
  /* -webkit-text-stroke-width: 3px; */
  /* -webkit-text-stroke-color: rgb(112, 109, 109); */
  /* text-transform: uppercase; */
  animation: waviy 4s infinite;
  animation-delay: calc(.1s * var(--i));

}

@keyframes waviy {

  0%,
  40%,
  100% {
    transform: translateY(0)
  }

  20% {
    transform: translateY(-20px)
  }
}
